.App {
  text-align: center;
  background-color: rgb(212, 179, 212);
}

.h1 {
  font-family: 'Great Vibes', cursive;;
}

.contentbox {
  width: min(100% - 2rem, 600px);
  margin-inline: auto;
}

.content {
  padding-top: 20px;
}

.btn-secondary {
  height: 100px !important;
  background-color: rgb(51, 88, 51) !important;
  box-shadow: 5px 5px 5px rgb(0, 43, 0);
  border-color: rgb(51, 88, 51) !important;
}

.btn-success {
  background-color: rgb(51, 88, 51) !important;
  box-shadow: 5px 5px 5px rgb(0, 43, 0);
  font-size: medium !important;
  height: 75px !important;
  margin-top: 50px;
}

.topQuestion {
  font-family: 'Quattrocento', serif;
}

.btn-secondary::selection {
  background-color: aqua !important;
}

.btn-secondary:focus {
  background-color: rgb(90, 148, 90) !important;
}

.btn-info {
  background-color: rgb(212, 179, 212) !important;
  border-color: rgb(212, 179, 212) !important;
  scale: 2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
