.App {
  text-align: center;
}

.contentbox {
  width: min(100% - 2rem, 600px);
  margin-inline: auto;
}

.content {
  padding-top: 20px;
}

.btn-secondary {
  height: 100px !important;
  background-color: #6793ba !important;
  box-shadow: 3px 3px 3px #313436 !important;
  border-color: #3970a1 !important;
  color:rgb(0, 0, 0) !important;
}

.btn-success {
  background-color: rgb(51, 88, 51) !important;
  box-shadow: 5px 5px 5px rgb(0, 43, 0);
  border-color: rgb(46, 77, 46) !important;
  font-size: medium !important;
  height: 75px !important;
  margin-top: 50px;
}

.btn-secondary::selection {
  background-color: aqua !important;
}

.btn-secondary:focus {
  background-color: #3970a1 !important;
}

.btn-info {
  background-color: rgb(186, 154, 103) !important;
  border-color: rgb(186, 154, 103) !important;
  scale: 1 !important;
  padding-left: 10px !important;
}

.btn-light {
  background-color: transparent !important;
  border-color: transparent !important;
}

.btn-dark {
  height: 200px !important;
}

.topQuestion {
  font-family: 'Quattrocento', serif;
}

.questions {
  font-family: 'Quattrocento', serif;
  height: fit-content;
  font-size: 20px;
  text-overflow: ellipsis;
  padding-bottom: 10px;
  flex-shrink: 1;
  max-width:fit-content;
  word-wrap:break-word;
  width:auto;
  display:inline-block;
}

.answer {
  font-size: 15px;
  padding-bottom: 20px;
}

.questions2 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Quattrocento', serif;
}

.textcolor{
  color:black !important;
}

.descriptiontext{
  padding-top: 40px;
  font-family: 'Quattrocento', serif;
  text-align: left;
}

.end {
  font-family: 'Merienda', cursive;
}

.paddingleft {
  padding-left: 40px;
  margin-left: 40px;
  border-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.adminInput {
  padding-top: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
